<div navigation></div>
<div class="page-wrapper animated fadeIn clearfix">
	<div class="row" ng-hide="pageParams.busy">
		<div class="col-xs-12" ng-hide="pageParams.offline">
			<h1>Updates</h1>
			<div class="row">
				<div class="col-xs-12 col-md-6" ng-repeat="item in page.updates">
					<div class="landing-item">
						<div class="item-image" ng-style="item.style"></div>
						<h3>
							{{item.title}}
							<small ng-bind="item.date | date"></small>
						</h3>
						<div ng-bind="item.content"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<p class="form-group alert alert-info" ng-hide="!pageParams.busy"><i class="fa fa-refresh fa-pulse"></i> in progress..</p>
</div>